@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: #050505;
  color: #ededed;
}
